[submodule "ai-toolkit"]
	path = ai-toolkit
	url = git@github.com:ostris/ai-toolkit.git
[submodule "LLaVA"]
	path = LLaVA
	url = git@github.com:haotian-liu/LLaVA.git
[submodule "Grounded-SAM"]
	path = Grounded-SAM
	url = git@github.com:IDEA-Research/Grounded-Segment-Anything.git
